
<div style="padding-left: 280px; padding-top:15px; ">
<form action="/user/user" method="post">
<input type="hidden" name="id" value="{{data.id}}">

 <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 85px;padding-bottom:80px;padding-top:45px;">
    <h1 style="color: aliceblue;">{{title}}</h1>
            <div class="form-group">
                <label for="name">name</label>
                <input type="text"  placeholder="your name" name="name" class="form-control" >
            </div>
            <div class="form-group">
                <label for="age">age</label>
                <input type="text"  placeholder="your age" name="age" class="form-control" >
            </div>
              <div class="form-row">
                   <div class="form-group col-md-6">
                <label for="place">place</label>
                <input type="text" placeholder="your place" name="place" class="form-control" > 
            <div  style="padding-Top: 20px;padding-left:60px;" > 
            <button type="submit" class="btn btn-primary  ">ADD</button>
           <a href="/user/list"> <button type="button"  class="btn btn-primary pull-right ">view</a></button>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>